meta(charset="utf-8")
meta(name="robots", content="index, follow")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Marco Alka
link(rel="stylesheet", href="css/critical.scss")
link(rel="stylesheet", href="css/main.scss")
script(src="js/index.ts", defer="")
