meta(charset="utf-8")
title Marco Alka
meta(name="robots", content="index, follow")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="canonical", href="https://marco-alka.de")
//- link(rel="alternate", href="https://marco-alka.de", hreflang="de")
//- link(rel="alternate", href="https://marco-alka.eu", hreflang="en")
//- link(rel="alternate", href="https://xn--ccksw5oncc.xn--q9jyb4c", hreflang="ja")
link(rel="stylesheet", href="css/critical.scss")
