/***********************************************************************************************************************
*** Browser Reset
***********************************************************************************************************************/
@import "reset";


/***********************************************************************************************************************
*** Opinionate
***********************************************************************************************************************/
@import "colors";
@import "dimensions";
@import "fluid-typography";
@import "typography";
@import "util";


body {
  @include fluid-type($screen-width-min, $screen-width-max, $font-size-min, $font-size-max);
  font-family: sans-serif;
  line-height: 1.25;
}

h1 {
  font-size: 1.953em;
  height: 1.5em;
  width: 100%;
}

h2 {
  font-size: 1.563em;
}

h3 {
  font-size: 1.25em;
}
