@import "colors";
@import "dimensions";


a {
  color: $link-color;
  text-decoration: none;

  :focus {
    outline: 0;
  }

  :visited {
    color: $link-color;
  }

  [href^="https"]:after {
    content: ' \279A';
  }
}

body {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding-right: 10px;

  @media screen and (max-width: $bp-menu) {
    padding: 10px;
  }
}

h1 {
  border-bottom: solid 2px $spacer-color;

  @media screen and (max-width: $bp-menu) {
    height: auto;
  }
}

.content {
  display: grid;
  grid-column: col-start 4 / -1;
  grid-gap: 2rem;
  grid-template-columns: repeat(9, [col-start] 1fr);
  min-width: $screen-width-min;
  position: relative;

  h1, p, section {
    grid-column: col-start 1 / -1;
  }

  @media screen and (max-width: $bp-menu) {
    grid-column: col-start 1 / -1;
  }
}

ul.menu {
  grid-column: col-start / span 3;
  list-style: none;
  min-width: $screen-width-min;
  padding-left: 0;
  position: relative;

  > li {
    height: 2em;
    line-height: 2em;
    padding-left: 1ch;

    * {
      max-height: 100%;
    }
  }
  
  @media screen and (max-width: $bp-menu) {
    display: flex;
    flex-wrap: wrap;
    grid-column: col-start / -1;
    justify-content: space-around;

    > li {
      margin: 0 7px;
      padding-left: 0;
    }
  }
}
