doctype html
html(lang="en")
    head
        include partials/head
        meta(name="description", content="Information about Marco Alka, Software Engineer and Mentor")
    body
        include partials/menu
        div.content
            include partials/wip
