doctype html
html(lang="en")
    head
        include partials/head
        meta(name="description", content="Personal website of Marco Alka, Software Engineer and Mentor")
    body
        include partials/menu
        div.content
            h1 Hey everyone out there!
            p
                | Nice to meet you 👋🏻 My name is Marco. I work in the Corporate Sector Information Systems & Services at
                |
                a(href="https://www.bosch.com/", target="_blank", rel="external noopener") Robert Bosch
                |
                | in Stuttgart, Germany, as Fullstack/DevOps person.
                | In addition, among various other things, I am a hobby Game Dev and Web Engineer, but also love to tinker with hardware.
                | If you are interested in learning from me, I am rather active on
                |
                a(href="https://hashnode.com/@maruru", target="_blank", rel="external noopener") Hashnode
                |
                | . For personal training,
                |
                a(href="https://mentorcruise.com/mentor/MarcoAlka/", target="_blank", rel="external noopener") I mentor at MentorCruise
                | .
            p
                | I studied B.Eng. Engineering Informatics, which means that I can do technical engineering, software engineering and anything in between.
                | Currently, I am adding the M.Sc. Applied IT Security to my portfolio, so that the world will become a safer place for
                |
                strike my
                |
                |
                strike your
                |
                | everyone's data!
            p I have one major hobby project: a 3D online game with many ideas which have never been implemented in a game before. Let's see what I can release at some point!
            p All in all, thanks for taking interest in me. Don't be shy, chat me up on Hashnode! Hope to hear from you!
            p Marco
        include partials/non-critical-resources
