doctype html
include _util
html(lang="en")
    head
        include partials/head
        meta(name="description", content="Projects by Marco Alka, Software Engineer and Mentor")
    body
        include partials/menu
        .content
            include partials/wip
            .project
                h2 Website
                p
                    | This website is source-open
                    |
                    a(href="https://github.com/minecrawler/Website", target="_blank", rel=linkExternal) on GitHub
                    |
                    | !
        include partials/non-critical-resources
