doctype html
include _util
html(lang="en")
    head
        include partials/head
        meta(name="description", content="Projects by Marco Alka, Software Engineer and Mentor")
    body
        include partials/menu
        div.content
            include partials/wip
            p
                | However, if you want to see a sample of my work, check out this very website's
                |
                a(href="https://github.com/minecrawler/Website", target="_blank", rel=linkExternal) source code
                |
                | on GitHub!
        include partials/non-critical-resources
